{erl_opts, [debug_info, {src_dirs, ["src"]}]}.
{sub_dirs, ["rel"]}.

{deps, [
      %% {application name, version, {repository, url, branch}}
      {leptus, ".*", {git, "https://github.com/s1n4/leptus.git", "master"}},
      {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", {branch, "master"}}},
      {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git",{branch, "master"}}},
      {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
      {jsx, "1.4.3", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.4.3"}}},
      {ejson, ".*", {git, "https://github.com/jonasrichard/ejson.git", "master"}},
      {mochijson2, ".*", {git, "https://github.com/bjnortier/mochijson2.git", "master"}}
]}.




{clean_files, ["*.beam", "test/*.beam", "erl_crash.dump"]}.
